<header class="header">
  <h1 class="header-heading"><a href="{% url 'contact:index' %}" class="header-link">AGENDA</a></h1>
  <nav class="menu">
    <ul class="menu-list">
      {% comment '' %}Действия ниже выполняются только если пользователь авторизован{% endcomment %}

      {% if user.is_authenticated %}
        <li class="menu-item">
          <a href="{% url 'contact:create' %}" class="menu-link">СОЗДАТЬ КОНТАКТ</a>
        </li>

        <li class="menu-item">
          <a href="{% url 'contact:logout' %}" class="menu-link">ВЫЙТИ</a>
        </li>

        <li class="menu-item">
          <a href="{% url 'contact:user_update' %}" class="menu-link">ОБНОВИТЬ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ</a>
        </li>

        {% comment '' %}Действия, если пользователь не авторизован{% endcomment %}
      {% else %}
        <li class="menu-item">
          <a href="{% url 'contact:login' %}" class="menu-link">ВОЙТИ</a>
        </li>

        <li class="menu-item">
          <a href="{% url 'contact:register' %}" class="menu-link">РЕГИСТРАЦИЯ</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  {% if user.is_authenticated %}
    <div class="search">
      <form action="{% url 'contact:search' %}" method="GET">
        <input type="search" class="search-input" placeholder="Поиск" id="search" name="h" value="{{ request.GET.h.strip }}" />
      </form>
    </div>
  {% endif %}
  
</header>
