{% extends 'global\base.html' %}

{% block content %}
  {% if page_obj %}
    <div class="responsive-table">
      <table class="contacts-table">
        <caption class="table-caption">КОНТАКТЫ</caption>

        <thead>
          <tr class="table-row table-row-header">
            <th class="table-header">ID</th>
            <th class="table-header">ИМЯ</th>
            <th class="table-header">ФАМИЛИЯ</th>
            <th class="table-header">ТЕЛЕФОН</th>
            <th class="table-header">ЭЛЕКТРОННАЯ ПОЧТА</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in page_obj %}
            <tr class="table-row">
              <td class="table-cel">
                <a class="table-link" href="{% url 'contact:contact' contact.id %}">{{ contact.id }}</a>
              </td>
              <td class="table-cel">{{ contact.first_name }}</td>
              <td class="table-cel">{{ contact.last_name }}</td>
              <td class="table-cel">{{ contact.phone }}</td>
              <td class="table-cel">{{ contact.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="single-contact">
      <h1 class="single-contact-name">Контакты не найдены.</h1>
    </div>
  {% endif %}
{% endblock %}
